body {
    margin: 0;
    padding: 0;
    background-color: #8e44ad;
    color: #ebdef0;
    font-size: 1.2em;
    font-family: Roboto, sans-serif;
}

section {
    background-color: #8e44ad;
}

.home-header {
    background-color: #9b59b6;
    height: 155px;
    position: relative;
}

.keywords-input {
    width: 430px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
}

.keywords-input material-input-group {
    float: left;
}

.keywords-input material-input-group {
    padding: 10px;
}

.keywords-input material-input-group:nth-child(1) {
    padding-right: 0;
}

.app-name {
    padding: 25px;
    position: absolute;
    font-size: 3em;
    font-family: 'Paytone One', sans-serif;
    z-index: 1;
}

.material-input-group input, .material-input-group textarea, material-input-group input, material-input-group textarea {
    color: #ebdef0;
}

.tweet-count {
    float: right;
    padding: 5px 10px;
    background-color: #3498db;
    border-radius: 3px;
    margin-top: -5px;
}

.tweet-count:nth-child(1) {
    background-color: #2980b9;
}

.uppercase {
}

.tweet-count-body {
    padding: 20px 10px;
    background-color: #9b59b6;
    border-radius: 3px;
    margin-bottom: 10px;
}

.loading {
    background-image: url('../img/load.gif');
    height: 24px;
    width: 24px;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
}